<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>NSHealthShareUsageDescription</key>
	<string>Momentum reads your sleep, steps, walking distance, active energy, exercise, and meditation data to show your recent health alongside your daily routines.</string>
	<key>NSSupportsLiveActivities</key>
	<true/>
    <key>CFBundleIconName</key>
    <string>AppIcon</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Momentum uses the microphone to record voice input for adding tasks to temporary routines.</string>
</dict>
</plist>
